/* Header */


nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.logo img {
    height: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

li.shift {
    margin-right: 16px;
}

/* Learn Section */

.container.learn {
    display: flex;
    background-color: lightgray;
}

.banner {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.banner img {
    width: 100%;
}

.text {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    font-size: 30px;
    font-weight: bold;
}

input {
    padding: 8px 0;
}

/* Practice Section */

.container.practice {
    display: flex;
}

.info {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.info-main img {
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 16px;
}


.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.story-image {
    width: 35%;
    margin: 16px 16px;
}

.story-image img {
    height: auto;
    width: 100%;
}

.story {
    width: 65%;
}

.stories.guest {
    background-color: lightgray;
}

/* Start Section */


.container.start {
    background-color: lightgray;
    margin-top: 32px;
    padding-bottom: 32px;
}

.title {
    text-align: center;
    padding-top: 32px;
    font-size: 30px;
}

.courses {
    margin-right: 72px;
    margin-left: 72px;
}

.article-image img {
    height: auto;
    width: 100%;
}

.content-top {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content-bottom {
    display: flex;
    justify-content: center;
}

.article.center {
    margin-left: 32px;
    margin-right: 32px;
}

.course-info {
    background-color: white;
}

/* Thesis Section */

.container.thesis {
    display: flex;
}

.info-main.video {
    width: 100%;
}

video {
    width: 100%;
}

.stories.fisma {
    background-color: lightgray;
}

/* Footer */