/* Header */


nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.logo img {
    height: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

li.shift {
    margin-right: 16px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 600px){
    .logo, .menu {
        display: none;
    }

    .mobile-nav {
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-around;
    }
}

/* Learn Section */

.container.learn {
    display: flex;
    background-color: lightgray;
}

@media only screen and (max-width: 600px){
    .container.learn {
        flex-direction: column;
        align-items: center;
    }
    
}

.banner {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.banner img {
    width: 100%;
}

.text {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    font-size: 30px;
    font-weight: bold;
}

input {
    padding: 8px 0;
}

/* Practice Section */

.container.practice {
    display: flex;
}

@media only screen and (max-width: 600px){
    .container.practice {
        flex-direction: column;
    }

    .info.mobile-version {
        display: none;
    }
}

.info {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.info-main img {
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 16px;
}


.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.story-image {
    width: 35%;
    margin: 16px 16px;
}

.story-image img {
    height: auto;
    width: 100%;
}

.story {
    width: 65%;
}

.stories.guest {
    background-color: lightgray;
}

/* Start Section */


.container.start {
    background-color: lightgray;
    margin-top: 32px;
    padding-bottom: 32px;
}

@media only screen and (max-width: 600px){
    .container.start {
        flex-direction: column;
        background-color: white;
    }

    .courses {
        display: none;
    }

}

.mobile-course h2 {
    padding: 16px 0 24px 16px;
    margin-bottom: 8px;
    background-color: lightgray;
}

@media only screen and (min-width: 600px){
    .mobile-course {
        display: none;
    }
}

.title {
    text-align: center;
    padding-top: 32px;
    font-size: 30px;
}

.courses {
    margin-right: 72px;
    margin-left: 72px;
}


.article-image img {
    height: auto;
    width: 100%;
}

.content-top {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content-bottom {
    display: flex;
    justify-content: center;
}

.article.center {
    margin-left: 32px;
    margin-right: 32px;
}

.course-info {
    background-color: white;
}

/* Thesis Section */

.container.thesis {
    display: flex;
}

@media only screen and (max-width: 600px){
    .container.thesis {
        flex-direction: column;
    }

    .stories.fisma, .stories.then {
        display: none;
    }

    .text-two.three {
        display: none;
    }
}


.info-main.video {
    width: 100%;
}

video {
    width: 100%;
}

.stories.fisma {
    background-color: lightgray;
    margin-top: 16px;
}

/* Footer */

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 24px 16px 24px;
    border-top: 1px solid lightgray;
}

.terms {
    margin-right: 16px;
}